.title{
  position: absolute;
      top: 0;
      height: 50px;
      background: #070707;
      left: 192.5px;
      width: calc(96.75% - 200px);
      padding: 20px;
      z-index: 99;
	font-family:'Signika',sans-serif;
	  
 }
.sidebar{
  width: 200px;
  height: 100vh;
  background: #000000;
  padding-top: 20px;
	font-family:'Signika',sans-serif;
}
.player{
  width: calc(100% - 200px);
  height: calc(100% - 75px);
  padding: 20px;
  background: #121212;
  color:white;
   font-family:'Signika',sans-serif;		
  
  
  text-transform: capitalize;
  overflow-y: scroll;		
  font-family:'Signika',sans-serif;
}
.app{
	height: 100vh;
   width: 100%;
   display: flex;
   position: relative;
   background: #282828;
}
.playbar{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 96.3%;
  height: 40px;
  background: #282828;
  z-index: 99;
  padding:20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
	   
}

  .caption{
	position: relative;
	top:30px;
	padding-left: 20px;
	margin-bottom: 20px;
	font-weight: bold;
  }
  li {
    padding-left: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    cursor: pointer;
	  font-weight: bold;
  	position:relative;
	  top:60px;
	  list-style-type:none;
  }
  li.active {
    border-left: 2px solid white;
    padding-left: 18px;
  }
  .playlist{
	  font-size: 20px;
	  position: relative;
	  top:90px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
	  font-size: initial;
	  color:white
  }
  table tr:not(:last-of-type) {
    border-bottom: 1px solid #282828;
  }
  table td {
    padding: 10px ;
  }
 
  #playbutton{
    
    position: absolute;
    right:660px;
    
  }
  #next{
    position:absolute;
    right:640px
  }
  #previous{
    position:absolute;
    right:680px
  }
  .navbar-brand{
   text-decoration: none;
   color:white
}
.nav-link{
   text-decoration: none;
   color:white
}
